.btn {
    display: inline-block;
    background-color: #FF0057;
    padding: 14px 26px;
    min-width: 100px;
    text-align: center;
    color: #fff;
    text-transform: capitalize;
    border-radius: 2px;
    font-size: 18px;
    line-height: 20px;
    margin-top: 20px;
    margin-bottom: 20px;
    cursor: pointer;
}

.btn:hover {
    box-shadow: -webkit-box-shadow: 3px 3px 50px 2px rgba(181,40,47,1);
    -moz-box-shadow: 3px 3px 50px 2px rgba(181,40,47,1);
    box-shadow: 3px 3px 50px 2px rgba(181,40,47,1);
    font-size:20px;
} 

.column-right > .btn {
    float: right;
    margin-top: 40px;
}

.btn-up {
    display: inline-block;
    background-color: #FF0057;
    border-radius: 50%;
    min-width: 50px;
    min-height: 50px;
    text-align: center;
    color: #fff;
    cursor: pointer;
    text-decoration: none;
    font-weight: 300px;
    text-align: center;
    padding-top: 15px;
    position: absolute;
    top:-30px;
    right: -15px;
    
}

